 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

/* Background Component */
 .one {
   position: relative;
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   background-image: url(imageOne.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
 }

 .footergradient {
   width: 100%;
   padding: 40px;
   position: absolute;
   bottom: 0;
   background: linear-gradient(180deg, rgba(000, 0, 0, 0), #1d1616);
 }

 .footer {
   background-color: #1d1616;
   color: #ded9d9;
   font-size: 20px;
   padding: 80px;
   text-align: center;
 }

 .three {
   position: relative;
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   background-image: url(imageTwo.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
 }

 .five {
   position: relative;
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   background-image: url(imageThree.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   }

 .upsidedownfootergradient {
   width: 100%;
   padding: 30px;
   position: relative;
   top: 0;
   background: linear-gradient(360deg, rgba(000, 0, 0, 0), #1d1616);
 }

/* Banner Component */
h1 {
  color: #ded9d9;
  margin: 230px auto;
  font-size: 80px;
  text-align: center;
  letter-spacing: 2px;
  font-family: junicode-bold;
}

/* Navigation Component */

nav {
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ded9d9;
  font-family: 'amaranthregular';
}

.home {
  position: relative;
  color: #6a7999;
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
}

.nav  {
  color: #6a7999;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition-property: background;
}

.lakewai {
  padding-left: 40px;
}

.about {
  padding-left: 40px;
}

nav a{
  background-image: linear-gradient(to right,
      #6a7999,
      #6a7999 50%,
      #151920 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

nav a:before {
  content: '';
  background: #6a7999;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  background-position: 0;
}

nav a:hover::before {
  width: 100%;
}

/* Sticky Navigation */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
